GO_ENV=development
GEMINI_API_URL=
GEMINI_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=./configs/service_account_secret.json
GOOGLE_PROJECT_ID=
PORT=:8080

DEEPGRAM_API_KEY=
DEEPGRAM_MODEL_NAME=

SCHMA_STT_PROVIDER=deepgram # google or deepgram

SCHMA_NEIGHBOURS=1
ONNX_RUNTIME_PATH=
# ONNX_RUNTIME_PATH=/home/korij/development/web/business/memonic/server/runtime/onnxruntime-linux-x64-1.17.0/lib/ # dev

# ONNX_RUNTIME_PATH = "/usr/lib" # prod -- copied over in Dockerfile

MODEL_DIR=./models # dev

# MODEL_DIR="/data/models"  # prod - fly secrets set MODEL_DIR="/data" if not set in deploy...
 
# Using session pooler, fine for MVP 
SUPABASE_DATABASE_URL=

# Rate Limit
RPM_PER_APP=

# Log level "info" | "debug"
LOG_LEVEL=

# Specific Debug Stuff | "cors", "auth", "session", "S_PIPELINE", "deepgram", "f-pipeline", "ws"
DEBUG_SERVICES=

# JWT
JWT_ISSUER=schma
JWT_SIGNING_KEY=
ALLOWED_ORIGINS=


# Session timings
WS_SESSION_TIMEOUT_SECONDS=7200   # 2 hours max session
WS_READ_TIMEOUT_SECONDS=300       # 5 minutes read timeout  
WS_PING_INTERVAL_SECONDS=30       # 30 seconds ping
WS_PING_TIMEOUT_SECONDS=10        # 10 seconds pong wait


# Batch
BATCH_TEMP_TTL_MINUTES=120
BATCH_JANITOR_INTERVAL_MINUTES=30
BATCH_SAVE_ARTIFACTS=0